@import "./variables.scss";

.header {
  font-weight: 400;
  margin: 2rem 0;
  color: map-get($colors, bright-red);
}

.header-container {
  max-width: 40rem;
  margin-bottom: 2rem;
}

.card-footer {
  background: none;
  border: none;
}

.card-footer > button.btn-primary {
  background: none;
}

.readmore-btn {
  padding: 1rem 0;
  display: flex;
  justify-content: center;
  border-color: map-get($colors, custom-wht);

  .btn {
    font-weight: 500;
  }
}

.btn-outline-primary {
  border-color: map-get($colors, custom-wht);
  color: map-get($colors, custom-wht);
  font-weight: 500;
}

.card-deck {
  .row {
    div {
      .card {
        .card-title {
          width: 100%;
        }

        margin-bottom: 0.7rem;
        background: map-get($colors, bright-yellow);
        color: map-get($colors, custom-wht);
        min-height: 344px;
      }
    }

    @media screen and (min-width: map-get($breakpoints, tablet-min)) and  (max-width: map-get($breakpoints, tablet-max)) {
      div:nth-of-type(2n+1) div {
        background: map-get($colors, bright-yellow);
      }

      div:nth-of-type(2n) div {
        background: map-get($colors, light-blue);
      }
    }

    @media screen and (min-width: map-get($breakpoints, desktop)) {
      div:nth-of-type(3n+1) div {
        background: map-get($colors, bright-yellow);
      }

      div:nth-of-type(3n+2) div {
        background: map-get($colors, light-blue);
      }

      div:nth-of-type(3n) div {
        background: map-get($colors, dark-purple);
      }
    }
  }
}

.card-col {
  padding: 0.5rem 0;
}

.container > .row {
  width: 100%;
  margin: auto;
}
