$colors: (
  bright-yellow: #ffc107,
  light-blue: #9189bd,
  dark-purple: #8a6891,
  bright-red: #d11010,
  custom-wht: white,
  light-grey: lightgrey
);

$breakpoints: (
  tablet-min: 412px,
  tablet-max: 768px,
  desktop: 769px
);
